@import url('https://fonts.cdnfonts.com/css/metropolis-2');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

.page_container {
    flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
    background: #FFFFFF;
    padding: 15px;
    max-height: 748px;
    top: -474px;
    left: -190px;

}

.page_container .main_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

.heading_section{
    display: flex;
    justify-content: center;
}

.heading{
    color: #007F61;
    font-size: 18px;
    font-family: 'Metropolis', sans-serif;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.left_line{ 
width: 93.99px;
top: -308.96px;
left: -40px;
border: 0.90px;
 /* angle : -0 deg; */
 background-color: red;
    
}

.heading_container{
    width: 340.73px;
    height: 18px;
    top: -318px;
    left: -40px;
    border: 0.90px;
    display: flex;
    align-items: center;
    
}

.line {
    width: 93.9px;
    top: -308.96px;
    left: -40px;
    border: 0.90px;
    flex-grow: 1;
    height: 1px;
    background-color: #C8C8C8;


    
  }


.card {
    width: 340.73px;
    min-height: 74.11px;
    top: -281.84px;
    left: -40px;
    border-radius: 3.61px;
    border-radius: 5px;
    border: 1px solid #C8C8C8;
    background: #FFFFFF;
    margin-bottom: 10px;
}

.card.active {
    border-color: #007F61;
    box-shadow: 0 0 5px rgba(0, 127, 97, 0.5);
    background-color: #F4FBF9;
}

.card_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 5px;
    height: 75px;
}

.card_details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card_text {
    display: flex;
    flex-direction: column;
    font-size: 14.46px;
    line-height:17.5px;
}

.card_text_bold{
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

}

.discount {
    font-family: 'Metropolis', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    

    font-family: "Inter";
    Size:12.65px;
    line-height:15.31px;
    font-style: Metropolis;
    font-size:12.65px;
    line-height:12.65px;
}

.label_section{
    display: flex;
    width: 95px;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 25px;
    font-size: 12px;
   
}

input[type='radio'] {
    accent-color:#007F61 ;
    top: -9.80322265625px;
    left: -40px;
    border-radius: 3.6152124404907227px;
    cursor: pointer;
    font-family:Inter;
    font-weight:400;
    font-size: 10.85px;
    line-height: 13.13px;

}

select{
width: 65.97763061523438px;
height: 25.306488037109375px;
top: -105.6064453125px;
left: 14.22802734375px;
border-radius: 1.8076062202453613px;
border: 0.9038031101226807px;
border: 1px solid #D9D9D9;
background-color: #FFFFFF;
margin-bottom: 4px;
}

.select_options_section{
 padding:  0px 0px 5px 15px;
 margin-top: -15px;
}

.shipping_section{
    display: flex;
    justify-content: space-between;
    width: 340.73px;
}

.ss_text{
    color:#007F61;
    font-family:"Inter";
    font-weight:500;
    font-size:14px;
    line-height:16.94px;
}

.ss_price{
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
font-family: "Inter";
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
font-weight: 500;
}

.card_Top_text{
    font-family: "Inter";
    size:14.46px;
    line-height: 17.5px; 
    color: #000000;  
}

.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.add_cart_button{
    width: 340.73px;
    height: 48px;
    Top:130px;
    Left:-41px;
    background: #007F61;
    color: #FFFFFF;
    box-shadow: none;
    font-family:"Inter";
    font-weight:"600";
    font-size: "16px";
    line-height:19.36px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.offer-text{
    text-align: center;
    font-size: 12px;
    color: #9F9F9F;
    text-decoration: line-through;
}

.text-end{
    text-align: end;
    color: #000000;
    width: 500;

}

.price_text{
 font-family: 'Metropolis', sans-serif;
 size:14.46px;
line-height:14.46px;
text-align: end;
color: #000000;
width: 500;
}

.popular_text{
    color: #007F61;
    font-family: "Inter";
    font-weight:600;
    font-size:12.65px;
    line-height: 15.31px

}

.copy_rights_text{
    font-family:"Inter";
    font-size:300;
    font-style:italic;
    font-size:12px;
    line-height: 14.52px;
    margin-left: auto; 
}
.inputlabel{
    font-family: Inter;
font-size: 11px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
text-align: left;

}

/*media query for mobile screens */
@media (max-width: 768px) {
    .card {
        width: 100%;
    }

    .card_details {
        flex-direction: row;
        gap: 10px;
    }

    .card_text {
        text-align: start;
    }

    .select_options_section {
        margin-top: 10px;
    }

    .shipping_section {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        gap:5px;
    }

    .ss_text {
        text-align: center;
        margin-bottom: 5px;
    }

    .ss_price {
        margin-bottom: 10px;
    }

    .copy_rights_text{
        margin: 0px;
    }
}

@media (max-width: 360px){
.card {
    width:90%;
}
.line {
    width: max-content;
}
.add_cart_button {
 width: fit-content;
} 
}